body{
    width: 500px;
    margin: auto;
    user-select: none;
}
.display-wrapper {
    position: relative;
    height: 134px;
    overflow: auto;
    padding: 8px 28px 16px;
    word-wrap: break-word;
    border-radius: 4px;
    background-image: linear-gradient(120deg,
    rgb(185, 13, 228),
    rgb(197, 97, 206),
    rgba(209, 152, 47, 0.8),
    rgba(92, 51, 5, 0.8)
    );
}
.keyboard{
    padding: 10px;
    height: 300px;
    border-radius: 4px;
    background-image: linear-gradient(120deg,
    rgb(185, 13, 228, 0.6),
    rgb(197, 97, 206, 0.6),
    rgba(209, 152, 47, 0.6),
    rgba(92, 51, 5, 0.6)
    );
}
.key{
    display: flex;
    width: 80%;
    height: 50px;
    color: rgb(14, 6, 85);
    background-image: linear-gradient(to right bottom,rgba(63, 35, 2, 0.8),
    rgba(233, 19, 151, 0.8)
    );
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
   
    /* flex-grow: 1; */
    font-size: 36px;
    line-height: 26px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.clear{
    position: absolute;
    bottom: 2px;
    right: 2px;
}
.keyboard-line{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 100px 100px 100px 100px 100px;
}
.smooth {
    height: 290%;
}
input{
    display: block;
    width: 80%;
    height: 80%;
}
.display{
    height: auto;
    text-align: end;
    font-size: 50px;
}
